:root{
    --azul: #1686e7;
    --verde:#00a650;
    --amarillo:#f0ec12;
    --negro:#2F2F2F;
    --gris-claro:#ddd8d8;
    --blanco:#fff;
    
  }
  
  
  label{
    display: block;
    
  }
  
  input{
    width: 100%;
    margin-bottom: 20px;
    
    
  }
  
  .boton{
    background-color: var(--azul);
    padding: 10px;
    color:var(--blanco);
    border-radius: 6px;
    box-shadow: 0px;
    border-color:var(--blanco);
    width: 30%;
    margin-top: 5px;
  
  }
  
  .boton:hover{
    background-color: #2679f5;
  }
  
  .franjaColor{
    background: linear-gradient(#0c406e, #808080) ;
    color: var(--blanco);
    text-align: center;
    padding: 20px;
  
  }
  
  select{
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
  }
  
  .cont{
    width: 100%;
  }
  
  
  .publicidad{
    height: 400px;
    margin-bottom: 30px;
    object-fit: cover;
  }
  
  .resaltadoLetra{
    color: var(--blanco);
  }
  
  .contenedorP{
    position: relative;
  }
  
  .contenedorP h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--negro);
    font-size: x-large;
  
  }